<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lab 1 – Variant 13</title>
</head>
<body>
    <h2>Загрузка изображения</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Обработать</button>
    </form>

    {% if images %}
        <h3>Результирующие изображения</h3>
        {% for img in images %}
            <img src="{{ url_for('static', filename=img) }}" width="200">

        {% endfor %}

        <h3>Гистограммы распределения цветов</h3>
        {% for plot in plots %}
            <img src="{{ url_for('static', filename=plot) }}" width="300">

        {% endfor %}
    {% endif %}
</body>
</html>
